@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    background-image: url(./Imagens/game.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.container{
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(107, 158, 235);
    border: 3px solid black;
}
.opcoes{
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    max-width: 500px;
    height: 170px;
    border-radius: 10px;
    background-color: rgb(133, 211, 235);
    border: 3px solid rgb(0, 0, 0);
}
#jogos{
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.opcoes li{
    font-size: 20px;
}